body
  background: lightgrey

h1, h2, h3, h4, h5, h6, p, td, th, li
  font-family: Ubuntu, sans-serif

h1
  text-decoration: underline

.phantom
  position: absolute
  left: -1000
  visibility: collapse

#page
  margin: auto
  width: 90%
  min-width: 600px


.wb-viewer
  padding: 0px
  float: left
  background: black
  color: #cacaca
  font-family: Ubuntu, sans-serif
  width: 100%
  position: relative

  h1
    font-size: 16pt

  h2
    font-size: 14pt

  h3
    font-size: 12pt

  h4
    font-size: 10pt
    font-weight: bold

  p, input, td, th, li, a
    font-size: 10pt

  a[role=button]:hover
    text-decoration: none

  .link-button
    color: inherit

  .link-button:hover
    background-color: #259595
    cursor: pointer
    color: inherit

  .link-button[selected]
    background: #1b6e6e

  .control-button
    color: inherit
  .control-button[selected]
    color: #1b1bfa

  .blink
    animation: blink 1s linear infinite
  @keyframes blink
    0%
      opacity: 0
    50%
      opacity: 1
    100%
      opacity: 0

.wb-view
  margin: 0
  padding: 0
  width: 100%
  display: flex
  flex-direction: row

// Sidebar
.wb-sidebar
  padding: 4px
  position: absolute
  top: 0
  height: 100%
  display: flex
  flex-direction: row
  background: #393939

  header
    margin: 0
    padding: 0
    height: 100%
    writing-mode: vertical-lr
    text-align: center
    vertical-align: center

    h2
      margin: 0
      padding: 0

  header:hover
    cursor: pointer


// Toolbars
.wbv-tb
  display: flex
  flex-direction: column
  position: relative
  overflow: -moz-scrollbars-vertical

  h2
    margin: 0
    padding: 0

  section
    margin: 2px 0
    padding: 3px
    background-color: #545454
    border-radius: 4px
    overflow: hidden

  h3
    text-align: center
    font-size: 11pt
    font-weight: bold

  table
    width: 100%

    th
      text-align: center

.wb-badge-sm
  display: block
  width: 10px
  height: 10px
  margin: 1px auto
  border-radius: 2px


ul.dddview-object-list
  margin: 0px
  padding: 0px

ul.dddview-object-list li
  margin: 0px
  padding: 0px
  list-style-type: none
  min-width: 100px

ul.dddview-object-list li input[type=checkbox]
  display: inline-block
  margin: auto
  width: 10%

ul.dddview-object-list li a.control-button
  display: inline-block
  margin: auto
  width: 12%

ul.dddview-object-list li a.link-button
  display: inline-block
  margin: auto
  width: 64%


